{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container-fluid vh-100 d-flex flex-column justify-content-center">
        <div class="row mb-5">
            <div class="col-12">
                <h1 class="text-center">El Exclusivo Club de los Errantes</h1>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <h2 class="text-center">¡Hola Viajero!</h2>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12">
                <p class="lead text-center">
                    Bienvenido a este Exclusivo Club<br>
                    Esta es una plataforma de ayuda mutua para el excursionista necesitado<br>
                    <span class="badge bg-light-gray text-secondary py-2 mt-3">O sea, para ti 🤗</span>
                </p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12">
                <p class="text-center">
                    Por favor, antes de registrarte,
                    <a href="#">conoce un poco más</a>
                    sobre este proyecto
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <p class="text-center">Si eres nuevo, puedes registrarte aquí:</p>
                <a href="#" class="btn btn-lg btn-dark mb-4">Registrarme</a>
                <p>O acceder si ya tienes una cuenta:</p>
                <a href="#" class="btn btn-secondary">Acceder</a>
            </div>
        </div>
    </div>
{% endblock %}